/* div{
  border: 1px red solid;
} */

html{
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
}

.container{
  padding: 2%;
  width: 100%;
}

.feature {
  fill: none;
  /* stroke: grey; */
  stroke-width: 0.1px;
  stroke-linejoin: round;
}

.mesh {
  fill: none;
  stroke:white;
  stroke-width: 1px;
  stroke-linejoin: square;
}

p {
  font-family: sans-serif;
  color: white;
  font-size: 1.6em;
}

body{
  background-color: black;
}

#title-div{
  display: block;
}

#title-text{
  line-height: 1.2em;
  font-family: Helvetica, sans-serif;
  padding-top: 3%;
}

#about-div{
  display: block;
  float: left;
}

#about-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.15em;
  letter-spacing: 0.25pt;
  line-height: 1.4em;
  padding-top: 5%;
}

#info-div{
  display: block;
  float: right;
  padding: 2% 2% 2% 1.5%;
  background-color: blue;
  position: absolute;
  height: 100vh;
  right: 0;
  width: 25vw;
  top: 0;
}

.text-div{
  border-bottom: white 1px solid;
  padding: 10% 0%;
}

.serif-title{
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.25pt;
  font-size: 1.75em;
}

.sans-text{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.25pt;
  font-size: 1.105em;
  line-height: 0.125em;
}


.serif-text{
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.25pt;
  font-size: 1.15em;
  line-height: 1em;
  letter-spacing: 0.25pt;
}

#mine-name{
  padding-bottom: 6%;
}
